{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title">Công nợ khách hàng</div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã KH</th>
                    <th>Tên khách hàng</th>
                    <th class="text-right">Công nợ</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.kh.ma_kh }}</td>
                    <td>{{ item.kh.ten_kh }}</td>
                    <td class="text-right">{{ item.no|intcomma }} đ</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center text-muted">Chưa có công nợ khách hàng.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
